.main {
    width: 100%;
    height: 100vh;
    background-color: #1b1b1b;
    display: flex;

    gap : 20px;
    justify-content: center;
    align-items: center;
    background-image: url("stacked-peaks-haikei.svg");

}

.container {
    width: 50%;
    height: 80%;
    min-width: 350px;
    min-height: 430px;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    /* gap: 10px; */
    flex-direction: column;
    border-radius: 10px;

}



.projectList{
    display : flex;
    width : 100%;
    height : 95%;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: column;
    gap : 5px;
}

.listHead{
    display : flex;
    width: 100%;
    height : 10%;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    padding : 5px;
    box-sizing: border-box;
    
}

.listHeadTitle{
    width: 100%;
    height : 100%;
    display  :flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.listContents{
    display : flex;
    flex-direction: column;
    width: 100%;
    height : 90%;
    /* padding : 10px;
    box-sizing: border-box; */
    overflow-y: hidden;
}

.listContentsWrap{
    display : flex;
    flex-direction: column;
    width: 100%;
    height : 100%;
    gap : 10px;
    overflow-y : scroll;
}

.listContent{
    width: 100%;
    height: 50px;
    display : flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 15px;

    border : 1px solid #8b9694;
    border-radius: 5px;
    padding :5px;
    box-sizing: border-box;

    
}

.listContent:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: #D4E6F1;
    border : 1px solid #D4E6F1;

    /* transition-duration:1.5s; */
}

.topMenuButton:hover{
    color: whitesmoke;
    box-shadow:150px 0 0 0 rgba(0,0,0,0.5) inset;
}

.listHead > div{
    width: 25%;
    height : 10%;
}
.listContent > div{
    display : flex;
    width: 25%;
    height : 10%;
    align-items: center;
    justify-content: center;

}
.contentOptions{
    display : flex;
    gap : 20px;
    align-items: center;
    
}

.contentOptions > i{
    font-size : 20px;
}

.projectName{
    font-weight: bold;
}