{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias":{
          "imports":"./imports",
          "ui":"./imports/ui",
          "db":"./imports/db",
          "api":"./imports/api"
        }
      }
    ]
  ]
}
