.main{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}
.me{
    color: #3e97eb;
}

.header{
    background: #3e97eb;
    height: 100px;
}
.body{
    margin: 50px 50px;
    height: 500px;
    display: flex;
    flex-direction: row;
}

.footer{
    background: #4cd964;
    height: 100px;
}

.left{
    margin-right: 50px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}