.pageBigWrap {
  width: 20%;
  height: 100%;
  background-color: #ffffff;

  padding: 10px;
  box-sizing: border-box;
}

.pageSmallWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-self: space-between;
}
