[class*="icon-"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-arrow-down {
  background-image: url("down.png");
  background-size: 1.2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-zoom-in {
  background-image: url("zoom-in.png");
  background-size: 2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-zoom-out {
  background-image: url("zoom-out.png");
  background-size: 2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-zoom-fit {
  background-image: url("zoom-fit.png");
  background-size: 2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-zoom-max {
  background-image: url("zoom-max.png");
  background-size: 2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-hand {
  background-image: url("hand.png");
  background-size: 2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-cross-hair {
  background-image: url("cross-hair.png");
  background-size: 2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-rectangle {
  background-image: url("rectangle.png");
  background-size: 2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-point {
  background-image: url("point.png");
  background-size: 2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-line {
  background-image: url("line.png");
  background-size: 2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-polygon {
  background-image: url("polygon.png");
  background-size: 2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-git {
  background-image: url("github-logo.png");
  background-size: 2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-laika {
  background-image: url("laika-x3.png");
  background-size: 2.1rem;
}

.icon-actions {
  background-image: url("actions.png");
  background-size: 1.4rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-more {
  background-image: url("more.png");
  background-size: 1.4rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-labels {
  background-image: url("labels.png");
  background-size: 1.4rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-bug {
  background-image: url("bug.png");
  background-size: 1.4rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-documentation {
  background-image: url("documentation.png");
  background-size: 1.4rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-camera {
  background-image: url("camera.png");
  background-size: 1.4rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-import-labels {
  background-image: url("import-labels.png");
  background-size: 1.4rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-export-labels {
  background-image: url("export-labels.png");
  background-size: 1.4rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-ai {
  background-image: url("ai.png");
  background-size: 1.4rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-trash {
  background-image: url("trash.png");
  background-size: 2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-box-opened {
  background-image: url("box-opened.png");
  background-size: 5rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
