.gnb {
  display: flex;
  position: absolute;
  flex: auto;
  width: 100%;
  height: 3.4rem;
  padding: .2rem;
  background: black;
  color: #ffffff;
  font-size: 1.25rem;
  z-index: 999;
  
  .gnb-branding {
    width: 12rem;
    height: 3rem;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
    }
  }

  .gnb-snb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      cursor: pointer;

      li {
        padding: .8rem 2rem;
        position: relative;
        display: flex;

        i {
          display: inline-block;
          width: 2rem;
          height: 2rem;
          padding-left: 3.4rem;
        }

        ul {
          position: absolute;
          /* display: table; */
          display: none;
          overflow: hidden;
          text-align: left;
          margin: 2.6rem 0 0 0rem;
          -webkit-box-shadow: -.3rem .9rem 1.5rem -.5rem #000000;
          box-shadow: -.3rem .9rem 1.5rem -.5rem #000000;
          border: .1rem solid #171717;
          border-bottom-right-radius: .4rem;
          border-bottom-left-radius: .4rem;
          border-top: 0;
          z-index: 99;

          li {
            width: 100%;
            height: auto;
            background: #262c2f;
            text-align: left;
            padding: 1rem 2rem 1rem 1rem;
            display: flex;
            white-space: nowrap;

            i {
              display: inline-block;
              width: 2rem;
              height: 2rem;
              padding-left: 3rem;
            }
          }
        }

        &:hover > ul {
          display: table !important;
        }
      }
    }

    .title {
      width: 100%;
      margin-left: auto;
      text-align: center;
    }

    .git {
      margin-left: auto;
      text-align: center;
      margin-right: 2rem;
    }
  }
}
