[class*="icon-"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-arrow-down {
  background-image: url("../../images/down.png");
  background-size: 1.2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-zoom-in {
  background-image: url("../../images/zoom-in.png");
  background-size: 2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-zoom-out {
  background-image: url("../../images/zoom-out.png");
  background-size: 2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-zoom-fit {
  background-image: url("../../images/zoom-fit.png");
  background-size: 2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-zoom-max {
  background-image: url("../../images/zoom-max.png");
  background-size: 2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-hand {
  background-image: url("../../images/hand.png");
  background-size: 2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-cross-hair {
  background-image: url("../../images/cross-hair.png");
  background-size: 2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-rectangle {
  background-image: url("../../images/rectangle.png");
  background-size: 2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-point {
  background-image: url("../../images/point.png");
  background-size: 2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-line {
  background-image: url("../../images/line.png");
  background-size: 2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-polygon {
  background-image: url("../../images/polygon.png");
  background-size: 2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-git {
  background-image: url("../../images/github-logo.png");
  background-size: 2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-make-sense {
  background-image: url("../../images/make-sense-ico-transparent.png");
  background-size: 2.1rem;
}

.icon-actions {
  background-image: url("../../images/actions.png");
  background-size: 1.4rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-more {
  background-image: url("../../images/more.png");
  background-size: 1.4rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-labels {
  background-image: url("../../images/labels.png");
  background-size: 1.4rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-bug {
  background-image: url("../../images/bug.png");
  background-size: 1.4rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-documentation {
  background-image: url("../../images/documentation.png");
  background-size: 1.4rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-camera {
  background-image: url("../../images/camera.png");
  background-size: 1.4rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-import-labels {
  background-image: url("../../images/import-labels.png");
  background-size: 1.4rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-export-labels {
  background-image: url("../../images/export-labels.png");
  background-size: 1.4rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-ai {
  background-image: url("../../images/ai.png");
  background-size: 1.4rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-trash {
  background-image: url("../../images/trash.png");
  background-size: 2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.icon-box-opened {
  background-image: url("../../images/box-opened.png");
  background-size: 5rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
