.snb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  ul {
    column-count: 3;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24rem;
      height: 12rem;
      padding: 7rem 3rem;
      margin-bottom: 5rem;

      .text-box {
        margin-top: 7rem;
        text-align: center;
        word-break: keep-all;
        font-size: 1.3rem;
      }

      &.bg {
        background-size: 6rem;
        background-repeat: no-repeat;
        background-position: center top;


      }

      &.deep_logo{
        background-position: center 1em;
        background-image: url("deep_logo.png");
      }

      &.labels{
        background-image: url("horse-polygon.png");
        background-size: 9rem;
      }

      &.chrome-logo  {
        background-image: url("chrome.png");
      }

      &.meteor_logo {
        background-image: url("meteor.png");
        background-size: 11rem;
      }

      &.react-logo {
        background-image: url("react-icon.png");
      }

      &.laika-dog {
        background-image: url("laika.png");
      }
    }
  }
}

@media (max-width: 1024px) {
  .snb {
    ul {
      column-count: 2;
    }
  }
}
