.pageBigWrap {
  width: calc((100% - 1000px) / 2);
  height: 100%;
  background-color: #3b548a;

  padding: 10px;
  box-sizing: border-box;
}

.pageSmallWrap {
  width: 100%;
  height: 100%;
  /* padding: 10px; */
  /* box-sizing: border-box; */
  /* background-color: #fffde1; */

  /* border: 3px solid #5aa360; */

  display: flex;
  flex-direction: column;
  justify-self: space-between;
}
